<app-alert-notif [notification]="notification"></app-alert-notif>
<app-progress-todo
  [totalDone]="totalDone"
  [totalNotDone]="totalNotDone"
></app-progress-todo>
<button class="btn btn-primary btn-lg btn-block" (click)="onAddTodo()">
  Add more todos
</button>
<div class="text-right">
  <p (click)="onChangeSortData()">
    Sort by Deadline
    <fa-icon
      [icon]="sortDeadline ? faSortAmountDown : faSortAmountUp"
    ></fa-icon>
  </p>
  <!-- <p (click)="onAnimate()">
    <fa-icon [icon]="faEdit"></fa-icon>
  </p> -->
</div>
<div class="list-group">
  <p class="lead text-center empty-state" *ngIf="todos.length === 0">
    No todo list yet
  </p>

  <a
    *ngFor="let todo of todos; let i = index"
    class="list-group-item list-group-item-action"
    [appHover]="todo.done"
    [@newDeletedAnimation]
  >
    <div>
      <div
        [@newAddedAnimation]
        [@.disabled]="!newId.includes(todo.id)"
        (@newAddedAnimation.done)="resetDataAnimation($event)"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"></h5>
          <small class="text-center">{{ todo.deadline | date }}</small>
          <div
            class="badge text-wrap text-left"
            [ngClass]="todo.done ? 'badge-success' : 'badge-warning'"
          >
            {{ todo.done ? 'Done' : 'Not Done' }}
          </div>
        </div>
        <p class="mb-1" *ngIf="!todo.done">
          {{ todo.description }}
        </p>
        <p class="mb-1">
          <del *ngIf="todo.done">{{ todo.description }}</del>
        </p>

        <div class="text-right">
          <div class="btn-group" role="group" aria-label="Edit Delete Group">
            <!-- <div class="input-group"> -->
            <div class="input-group-prepend ">
              <div class="input-group-text">
                <input
                  type="checkbox"
                  aria-label="Checkbox Done Not Done"
                  [checked]="todo.done"
                  (click)="onSwitchDone(todo)"
                />
              </div>
            </div>
            <!-- </div> -->
            <button
              type="button"
              class="btn btn-outline-primary btn-sm"
              (click)="onEditData(todo)"
            >
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button
              type="button"
              class="btn btn-outline-danger btn-sm"
              (click)="onConfirmDelete(todo)"
            >
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
