<app-progress-todo
  [totalDone]="totalDone"
  [totalNotDone]="totalNotDone"
></app-progress-todo>
<button class="btn  btn-primary btn-lg btn-block" (click)="onAddTodo()">
  Add more todos
</button>
<!-- <h5 class="text-center">You can do these all</h5> -->
<div class="list-group">
  <a
    *ngFor="let todo of todos"
    routerLink="/todo"
    class="list-group-item list-group-item-action"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"></h5>
      <small class="text-justify">{{ todo.deadline | date }}</small>
      <div
        class="badge  text-wrap text-left"
        [ngClass]="todo.done ? 'badge-success' : 'badge-warning'"
      >
        {{ todo.done ? 'Done' : 'Not Done' }}
        <!-- <fa-icon [icon]="todo.done ? faCheck : faTimes"> </fa-icon> -->
      </div>
    </div>
    <p class="mb-1">{{ todo.description }}</p>

    <div class="text-right">
      <div class="badge badge-danger"><fa-icon [icon]="faTrash"></fa-icon></div>
    </div>
  </a>
</div>
