<app-alert-notif [notification]="notification"></app-alert-notif>
<h5>{{ signin ? 'Sign in' : 'Sign up' }}</h5>
<form [formGroup]="signForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <div class="col-sm-12">
      <input
        placeholder="your email"
        formControlName="email"
        class="form-control"
        [ngClass]="
          signForm.get('email').invalid && signForm.get('email').touched
            ? 'is-invalid'
            : ''
        "
      />
      <div class="invalid-feedback">
        Provide valid email please.
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <input
        placeholder="your password"
        type="password"
        formControlName="password"
        class="form-control"
        [ngClass]="
          signForm.get('password').invalid && signForm.get('password').touched
            ? 'is-invalid'
            : ''
        "
      />
      <div class="invalid-feedback">
        Valid password please.
      </div>
    </div>
  </div>
  <div class="text-right">
    <input
      type="submit"
      value="Sign in"
      class="btn btn-primary"
      [disabled]="!signForm.valid"
    />
  </div>
</form>
