<app-alert-notif [notification]="notification"></app-alert-notif>
<h5>{{ signin ? 'Sign in' : 'Sign up' }}</h5>
<div fxLayout="column">
  <div fxFlexFill *ngIf="isLoading" fxLayoutAlign="center center">
    <mat-spinner diameter="120"> Loading...</mat-spinner>
  </div>
</div>

<section fxLayout="column" *ngIf="!isLoading">
  <form [formGroup]="signForm" (ngSubmit)="onSubmit()">
    <mat-form-field *ngIf="!signin" class="full-width">
      <mat-label>
        Your name
      </mat-label>
      <input
        matInput
        placeholder="your name"
        formControlName="name"
        class="form-control"
      />
      <mat-error
        *ngIf="signForm.get('name').invalid && signForm.get('name').touched"
      >
        Provide valid name please.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>
        Your email
      </mat-label>
      <input
        matInput
        placeholder="your email"
        formControlName="email"
        class="form-control"
      />
      <mat-error
        *ngIf="signForm.get('email').invalid && signForm.get('email').touched"
      >
        Provide valid email please.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>
        Your password
      </mat-label>
      <input
        matInput
        placeholder="your password"
        type="password"
        formControlName="password"
        class="form-control"
      />
      <mat-error
        *ngIf="
          signForm.get('password').invalid && signForm.get('password').touched
        "
      >
        Valid password please</mat-error
      >
    </mat-form-field>
    <mat-form-field *ngIf="!signin" class="full-width">
      <mat-label>
        Re-type your password
      </mat-label>
      <input
        matInput
        placeholder="retype your password"
        type="password"
        formControlName="repassword"
        class="form-control"
      />
      <mat-error
        *ngIf="
          signForm.get('repassword').invalid &&
          signForm.get('repassword').touched
        "
      >
        Match password please.</mat-error
      >
    </mat-form-field>

    <div fxLayoutAlign="flex-end flex-end">
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!signForm.valid"
      >
        {{ signin ? 'Sign in' : 'Sign up' }}
      </button>
    </div>
  </form>
</section>
