<ul class="nav nav-pills nav-fill" *ngIf="userLoggedIn">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      >Home</a
    >
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link disabled" routerLinkActive="active" routerLink="/edit"
      >Edit Todo</a
    >
  </li> -->
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/add">Add Todo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" (click)="doLogout()"
      >Logout</a
    >
  </li>
</ul>

<ul class="nav nav-pills nav-fill" *ngIf="!userLoggedIn">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/auth/login"
      >Sign in</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/auth/signup"
      >Sign up</a
    >
  </li>
</ul>
