<div
  fxLayout="column"
  role="alert"
  *ngIf="notification"
  [ngClass]="notification.type == 'success' ? 'info' : 'danger'"
  fxLayoutAlign="center center"
>
  <strong>{{ notification.type.toUpperCase() }} </strong>
  <p>
    {{ notification.message }}
  </p>
  <div class="close-button">
    <button
      mat-icon-button
      type="button"
      data-dismiss="alert"
      aria-label="Close"
      (click)="onDismisAlert()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
