<app-alert-notif [notification]="notification"></app-alert-notif>
<h3>What's more next?</h3>
<form [formGroup]="newTodos" (ngSubmit)="onSubmit()" fxLayout="column">
  <mat-form-field>
    <mat-label>Detailing, sometimes useful:</mat-label>
    <textarea matInput formControlName="description" rows="3"></textarea>
    <mat-error
      *ngIf="
        newTodos.get('description').invalid &&
        newTodos.get('description').hasError('required')
      "
    >
      Description required.
    </mat-error>
    <mat-error
      *ngIf="
        newTodos.get('description').invalid &&
        newTodos.get('description').hasError('minlength')
      "
    >
      Shoud be more than 5 chars
    </mat-error>
    <mat-error
      *ngIf="
        newTodos.get('description').invalid &&
        newTodos.get('description').hasError('maxlength')
      "
    >
      No more than 30 character please.
    </mat-error>
  </mat-form-field>
  <div *ngIf="editForm && newTodos.get('done').value === true">
    <button
      class="marginTopBottom"
      mat-raised-button
      color="primary"
      type="button"
      (click)="fileScreenshot.click()"
    >
      Attach image
    </button>
    <input
      type="file"
      (change)="onImageSelected($event)"
      #fileScreenshot
      [ngClass]="
        newTodos.get('snapshot').invalid ? 'form-control is-invalid' : ''
      "
    />
    <mat-error
      *ngIf="
        newTodos.get('snapshot').invalid &&
        newTodos.get('snapshot').hasError('invalidMimeType')
      "
    >
      png or jpg image only please.
    </mat-error>
    <mat-error
      *ngIf="
        newTodos.get('snapshot').invalid &&
        newTodos.get('snapshot').hasError('maxFileSize')
      "
    >
      image size should less than 200kb
    </mat-error>

    <div
      class="container-img"
      *ngIf="previewScreenshot && newTodos.get('snapshot').valid"
      fxLayoutAlign="top center"
    >
      <img
        [src]="previewScreenshot"
        [alt]="newTodos.get('description').value"
      />
    </div>
  </div>

  <mat-form-field>
    <mat-label>
      When the finish line?
    </mat-label>
    <input
      matInput
      formControlName="deadline"
      [min]="minDate"
      [matDatepicker]="picker"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error
      *ngIf="
        newTodos.get('deadline').invalid && newTodos.get('deadline').touched
      "
      >Valid date please.
    </mat-error>
  </mat-form-field>
  <div *ngIf="editForm">
    <input type="hidden" formControlName="id" />
    <mat-checkbox formControlName="done" color="primary"
      >Finished yet?</mat-checkbox
    >
  </div>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!newTodos.valid"
  >
    Submit
  </button>
</form>
