<app-alert-notif [notification]="notification"></app-alert-notif>
<h3>What's more next?</h3>
<form [formGroup]="newTodos" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="description">detailing, sometimes useful:</label>
    <textarea
      formControlName="description"
      rows="3"
      class="form-control"
    ></textarea>
  </div>

  <div class="form-group">
    <label for="deadline">When the finish line?</label>
    <input type="date" formControlName="deadline" class="form-control" />
  </div>

  <div class="form-group">
    <div class="form-check">
      <input type="checkbox" formControlName="done" class="form-check-input" />
      <label for="done" class="form-check-label">Finished yet?</label>
    </div>
  </div>
  <input
    type="submit"
    value="Submit"
    class="btn btn-primary"
    [disabled]="!newTodos.valid"
  />
</form>
