<app-alert-notif [notification]="notification"></app-alert-notif>
<h3>What's more next?</h3>
<form [formGroup]="newTodos" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="description">detailing, sometimes useful:</label>
    <textarea
      formControlName="description"
      rows="3"
      class="form-control"
      [ngClass]="
        newTodos.get('description').invalid &&
        newTodos.get('description').touched
          ? 'is-invalid'
          : ''
      "
    ></textarea>
    <div class="invalid-feedback">
      No more than 100 character please.
    </div>
  </div>
  <div class="form-group" *ngIf="editForm">
    <button
      class="btn btn-info btn-sm"
      type="button"
      (click)="fileScreenshot.click()"
    >
      Attach image
    </button>
    <input type="file" (change)="onImageSelected($event)" #fileScreenshot />
  </div>
  <div class="form-group container-img" *ngIf="previewScreenshot">
    <img [src]="previewScreenshot" [alt]="newTodos.get('description').value" />
  </div>

  <div class="form-group">
    <label for="deadline">When the finish line?</label>
    <input
      type="date"
      formControlName="deadline"
      class="form-control"
      [ngClass]="
        newTodos.get('deadline').invalid && newTodos.get('deadline').touched
          ? 'is-invalid'
          : ''
      "
    />
    <div class="invalid-feedback">
      Valid date please.
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input type="checkbox" formControlName="done" class="form-check-input" />
      <input type="hidden" formControlName="id" />
      <label for="done" class="form-check-label">Finished yet?</label>
    </div>
  </div>
  <input
    type="submit"
    value="Submit"
    class="btn btn-primary"
    [disabled]="!newTodos.valid"
  />
</form>
